{% extends 'base.html.twig' %}

{% block body %}
    <div class="container section-documentation">
        <div class="row">

            <div class="col-12 box-blue">
                <h3>Parameter</h3>
                <hr>
                <p>
                    Usage for text:<br />
                    /text/format/forecolor/backcolor/?other=parameter<br />
                </p>
                <p>
                    Usage for image:<br />
                    /image/format/category/forecolor/?other=parameter<br />
                </p>
                <p>
                    See examples at the end of page!
                </p>

                {% if parameter|length > 0 %}
                    <table class="table table-striped text-left">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for key, value in parameter %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value|raw }}</td>
                                </tr>
                            {% endfor %}
                            </div>
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div class="col-12 box-blue">
                <h3>Format table</h3>
                <hr>
                <p>These format can be used for the format parameter</p>

                {% if formats|length > 0 %}
                    <div class="row">

                        {% for formatsSplit in formats|batch((formats|length / 4)) %}
                            <div class="col-lg-3 col-md-6 col-12">
                                <table class="table table-striped text-left">
                                    <thead>
                                    <tr>
                                        <th>Format</th>
                                        <th>Size</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for format in formatsSplit %}
                                        <tr>
                                            <td>{{ format.key }}</td>
                                            <td>{{ format.width }}x{{ format.height }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}
            </div>

            <div class="col-12">
                <h3>Examples for text</h3>
                <hr>
                <p>Click to image to get the url</p>

                {% if examplesTexts|length > 0 %}
                    <div class="row">
                        {% for item in examplesTexts %}
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                                <div class="card flex-fill">
                                    <a href="{{ item.url }}" target="_blank" class="card-linked">
                                        <img class="card-img-top" src="{{ item.url }}" alt="{{ item.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <p class="card-text">{{ item.description }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h3>Examples for svg</h3>
                <hr>
                <p>Click to image to get the url</p>

                {% if examplesSvgs|length > 0 %}
                    <div class="row">
                        {% for item in examplesSvgs %}
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                                <div class="card flex-fill">
                                    <a href="{{ item.url }}" target="_blank" class="card-linked">
                                        <img class="card-img-top" src="{{ item.url }}" alt="{{ item.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <p class="card-text">{{ item.description }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h3>Examples for image</h3>
                <hr>
                <p>Click to image to get the url</p>

                {% if examplesImages|length > 0 %}
                    <div class="row">
                        {% for item in examplesImages %}
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                                <div class="card flex-fill">
                                    <a href="{{ item.url }}" target="_blank" class="card-linked">
                                        <img class="card-img-top" src="{{ item.url }}" alt="{{ item.title }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <p class="card-text">{{ item.description }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
